sudo: false

language: node_js

node_js:
  - '8'
  - '10'

env:
- NODE_ENV=development

git:
  depth: 1

cache:
  yarn: true
  directories:
    - node_modules

notifications:
  email: false

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

before_script:
  - "sudo chown root /usr/lib/chromium-browser/chrome-sandbox"
  - "sudo chmod 4755 /usr/lib/chromium-browser/chrome-sandbox"
