body {
  font-family: 'Roboto', sans-serif;
}

button {
  background-color: #fff;
  border: solid 2px peru;
  border-radius: 5px;
  color: peru;
  font-size: 16pt;
  font-weight: bold;
  padding: 10px;
  width: 200px;
}
